@media only screen and (max-width: 1200px) {
    body {
        padding: 20px 20px !important;
        margin: 0 !important;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 20px 40px;
    margin: 0 30px;
    background-color: #151515;
}

a {
    text-decoration: none;
    color: white;
}

* {
    box-sizing: border-box;
}

/* ------------------------------------- */

.body-container {
    width: 100%;
}
